* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

}

body {
    background-color: #0D1B2A;


}

.div-head {
    background-color: #0D1B2A;
    width: 100%; 
    height: 60px;
}

nav {
    display: flex; 
    text-align:center;
    justify-content: space-around;
}

.div-btn {
    background-color: #0D1B2A;
    border-radius: 10px;
    border: 1px solid #415A77;
    width: 200px;
    height: 30px;
    text-align: center;
    position: relative;
    top: 15px;
    transition: all 0.1s;
    padding: 5px 5px 5px 5px;

}

.div-btn:hover {
    border: 1px solid #778DA9;
    cursor: pointer;
    text-decoration: none;

}

.div-btn a {
    color: #778DA9;
    text-decoration: none;
    text-decoration-color: #0D1B2A; 
    text-transform: none;
}

/* first section*/

.divide {
    clip-path: polygon(-10% -10%, 100% 1%, 100% 10%, 73% 97%, 10% 100%);
    background-color: #1B263B;
    width: 100%;
    height: 10px;
    position: relative;
    top: 10px;
    opacity: 30%;


}


.div-one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top:5px;
    background-color: #0D1B2A;
    width: 100%; 
    height: 750px;
}

@media (min-width: 900px) {
    .based-one {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%; 
        padding-bottom: 20px;
    }

    .title {
        position: relative; 
        text-align: center;
        opacity: 100%;
        margin: 10px;
        transition: all 2s ease;
        color: #415A77;
    }

    .title::backdrop {
        position: relative; 
        text-align: center;
        margin: 10px;
    }

    .title h1 {
        font-size: 40px;
        color: #415A77; 

    }

    .description {
        position: relative; 
        text-align: center;
        transition: all 2s ease;

        
    }

    .description::backdrop {
        position: relative; 
        text-align: center;
        margin: 10px;
    }

    .description h1 {
        color: #778DA9; 
        font-size: 40px;

}

}
.one {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    background-color: #0D1B2A;
    display: flex;
    justify-content: center;
    width: 100%; 
    height: 140px;
    padding-top: 200px;
}

.one-imgs {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 100px;
    height: 100px; 
    position: relative;
    top: 50px;
}

.one-imgs img {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 50px;
    height: 50px;
    border-radius: 15px;
    opacity: 50%;
    box-shadow: 0 0 1px 1px #778DA9;
    user-select: none;
}



/* second section*/

.divide-two {
    clip-path: polygon(-20% -10%, 100% 1%, 100% 10%, 40% 97%, 1% 50%);
    background-color: #0D1B2A;
    width: 100%;
    height: 20px;
    position: relative;
    top: 10px;
    opacity: 10%;
}

.based-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 50px;
}


#about {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #1B263B;
    height: 30px;
    position: relative;
    right: 30px;
 
}

#about h1 {
    color: #415A77; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.div-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D1B2A;
    width: 100%; 
    height: 550px;
}

.div-two-img {
    width:15rem;
    height:15rem;
    position: relative;
    left: 15rem;
    box-shadow: -4px -4px 200px 1px #1B263B;
    border-radius: 100px;
    border:1px solid #415A77;
    opacity: 65%;
 
}

.div-two-img img {
    width:15rem;
    height:15rem;
    opacity: 100%;
    border-radius: 100px;
    margin-left: 3rem;

}

.about-description {
    width: 80rem;
    height: 290px;
    position: relative;
    margin-left: 35rem;

}

.about-description ul {
    list-style: none;
    color: #778DA9;
    font-size: 23px;
    text-justify: center;
    text-size-adjust: 40px;
    white-space-collapse: 10px;
    line-height: 2.4em;
}

/* third section*/

.divide-three {
    clip-path: polygon(100% -100%, 100% 1%, 20% 50%, 40% 97%, 1% 100%);
    background-color: #415A77;
    width: 100%;
    height: 20px;
    position: relative;
    top: 10px;
    opacity: 10%;;

}

.based-three {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 200px;
}

#projects {
    display: flex;
    justify-content: center;
    height: 10px;
    border-bottom: 1px solid #1B263B;
    height: 30px;
    position: relative;
    margin-bottom: 40px;
 
}

#projects h1 {
    color: #415A77; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div-three {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 100%; 
    height: 500px;
    background-color: #0D1B2A;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-bottom: 40px;
    top: 25px;
}

.div-three-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width:15rem;
    box-shadow: -4px -4px 200px 1px #1B263B;
    border-radius: 50px;
    border:1px solid #415A77;
    opacity: 65%;
    text-decoration: none;

}
.div-three-img a {
    text-decoration: none;
    border-left: 1px solid #415A77;
}



.div-three-img img {
    width:15rem;
    height:11rem;
    opacity: 100%;
    border-radius: 50px;
    position: relative;
    top: -105px;   
    box-shadow: 0px 0px 3px 3px #778DA9;
    opacity: 70%;

}

.title-project {
    color: #778DA9;
    font-weight: bold;
    position: relative;
    top: -50px;

}

.text-project {
    position: relative;
    justify-content: center;
    text-justify:distribute-all-lines;
    top: -10px;
    color: #778DA9;
    align-items: center;

}

.three {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    background-color: #0D1B2A;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 50px; 
}

.three-imgs {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 100px;
    height: 100px; 
}

.three-imgs img {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 50px;
    height: 50px;
    border-radius: 30px;
    opacity: 70%;
    position: relative;
    top: 70px;
    left: 19px;
    box-shadow: 0px 2px 10px 3px #778DA9;
}

.three-python {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    background-color: #0D1B2A;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 50px; 
}

.three-imgs-python-a {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 100px;
    height: 100px; 
}

.three-imgs-python-a img {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 50px;
    height: 50px;
    border-radius: 35px;
    opacity: 70%;
    position: relative;
    top: 70px;
    left: 10px;
    box-shadow: 0px 2px 10px 3px #778DA9;
}

.three-imgs-python-b {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 100px;
    height: 100px; 
}

.three-imgs-python-b img {
    /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
    width: 90px;
    height: 50px;
    border-radius: 10px;
    opacity: 70%;
    position: relative;
    top: 70px;
    left: 10px;
    box-shadow: 0px 2px 10px 3px #778DA9;
}

/*for desktop*/
@media (max-width: 900px) and (min-width: 769px) {
    .div-one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:5px;
        background-color: #0D1B2A;
        max-width: 100%; 
        height: 750px;
        
    }

    .based-one {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%; 

    }

    .title {
        position: relative; 
        text-align: center;
        opacity: 100%;
        margin: 10px;
        transition: all 2s ease;
        color: #415A77;
    }

    .title::backdrop {
        position: relative; 
        text-align: center;
        margin: 10px;
    }

    .title h1 {
        font-size: 35px;
        color: #415A77; 

    }

    .description {
        position: relative; 
        text-align: center;
        transition: all 2s ease;
        
    }

    .description::backdrop {
        position: relative; 
        text-align: center;
        margin: 10px;
    }

    .description h1 {
        color: #778DA9; 
        font-size: 35px;
    }

    .one {
        /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
        background-color: #0D1B2A;
        display: flex;
        justify-content: center;
        width: 100%; 
        height: 140px;
        padding-top: 200px;
    }

    .one-imgs {
        /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
        width: 100px;
        height: 100px; 
        position: relative;
        top: 50px;
    }

    .one-imgs img {
        /*clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);*/
        width: 50px;
        height: 50px;
        border-radius: 15px;
        opacity: 50%;
        box-shadow: 0 0 1px 1px #778DA9;
        user-select: none;
    }
} 



/*para tablet*/
@media (max-width: 768px) {
    .div-one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top:5px;
        background-color: #0D1B2A;
        max-width: 100%; 
        height: 750px;
        
    }

    .based-one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100%; 
        padding-bottom: 20px;

    }

    .title {
        position: relative; 
        text-align: center;
        opacity: 100%;
        margin: 10px;
        transition: all 2s ease;
        color: #415A77;
    }

    .title::backdrop {
        position: relative; 
        text-align: center;
        margin: 10px;
    }

    .title h1 {
        font-size: 35px;
        color: #415A77; 

    }

    .description {
        position: relative; 
        text-align: center;
        transition: all 2s ease;
        
    }

    .description::backdrop {
        position: relative; 
        text-align: center;
        margin: 10px;
    }

    .description h1 {
        color: #778DA9; 
        font-size: 30px;
    }

}