* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1B2A;


}

.div-head {
    background-color: #0D1B2A;
    width: 100%; 
    height: 60px;
}

nav {
    display: flex; 
    text-align:center;
    justify-content: space-around;
}

.div-btn {
    background-color: #0D1B2A;
    border-radius: 10px;
    border: 1px solid #0D1B2A;
    width: 200px;
    height: 30px;
    text-align: center;
    position: relative;
    top: 15px;
    transition: all 0.1s;
    padding: 5px 5px 5px 5px;

}

.div-btn:hover {
    border: 1px solid #778DA9;
    cursor: pointer;
    
}

.div-btn a p {
    color: #778DA9;
    position: relative;
    transition: all 0.1s;
}

/* first section*/

.divide {
    clip-path: polygon(-10% -10%, 100% 1%, 100% 10%, 73% 97%, 10% 100%);
    background-color: #1B263B;
    width: 100%;
    height: 10px;
    position: relative;
    top: 10px;
    opacity: 30%;

}

.div-pattern-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    background-color: #0D1B2A;
    width: 100%; 
    height: 750px;

}

.based-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 700px;
}

.title {
    position: relative; 
    text-align: center;
    opacity: 100%;
    margin: 10px;
    transition: all 2s ease;
    color: #415A77;
    
}

.title::backdrop {
    position: relative; 
    text-align: center;
    margin: 10px;
}

.title h1 {
    font-size: 50px;
    color: #415A77; 
}

.description {
    position: relative; 
    text-align: center;
    transition: all 2s ease;
    
}

.description::backdrop {
    position: relative; 
    text-align: center;
    margin: 10px;
}

.description h1 {
    color: #778DA9; 
    font-size: 50px;

}
/* second section*/

.divide-two {
    clip-path: polygon(-20% -10%, 100% 1%, 100% 10%, 40% 97%, 1% 50%);
    background-color: #0D1B2A;
    width: 100%;
    height: 20px;
    position: relative;
    top: 10px;
    opacity: 10%;
}

.div-pattern-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    background-color: #0D1B2A;
    width: 100%; 
    height: 500px;

}

.div-pattern-two-img {
    width:15rem;
    height:15rem;
    position: relative;
    left: 22rem;
    top: 1rem;
    box-shadow: -4px -4px 200px 1px #1B263B;
    border-radius: 100px;
    border:1px solid #415A77;
    opacity: 65%;
 
}

.div-pattern-two-img img {
    width:15rem;
    height:15rem;
    opacity: 100%;
    border-radius: 100px;
    margin-left: 3rem;

}

.based-two {
    display: grid;
    justify-content: column;
    align-items: center;
    width: 100%; 
    height: 500px;
    margin-top: -3rem;
    margin-right: 10rem;
}


#about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    border-bottom: 1px solid #1B263B;
    width:100px;
    height: 100px;
    position: relative;
    top: -90px;
    margin-left: 40rem;
 
}

#about h1 {
    color: #415A77; 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about-description {
    width: 60rem;
    height: 100px;
    position: relative;
    top: -11.5rem;
    bottom: 12rem;
    margin-left: 40rem;

}

.about-description ul {
    color: #778DA9;
    list-style: none;
    font-size: 23px;
    text-justify: center;
    text-size-adjust: 40px;
    white-space-collapse: 10px;
    line-height: 2.4em;
}

/* third section*/

.divide-three {
    clip-path: polygon(100% -100%, 100% 1%, 20% 50%, 40% 97%, 1% 100%);
    background-color: #415A77;
    width: 100%;
    height: 20px;
    position: relative;
    top: 10px;
    opacity: 10%;;

}

.div-pattern-three {
    margin-top:5px;
    clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);
    background-color: #0D1B2A;
    width: 100%; 
    height: 500px;
    display: flex;
    justify-content: space-between;

}


.div-pattern-three-img {
    width:15rem;
    height:15rem;
    position: relative;
    left: 22rem;
    top: 1rem;
    box-shadow: -4px -4px 200px 1px #1B263B;
    border-radius: 100px;
    border:1px solid #415A77;
    opacity: 65%;
 
}

.div-pattern-three-img img {
    width:15rem;
    height:15rem;
    opacity: 100%;
    border-radius: 100px;
    margin-left: 3rem;

}


.based-three {
    background-color: #0D1B2A;
   
}
.based-three {
    display: grid;
    justify-content: column;
    align-items: center;
    width: 100%; 
    height: 500px;
    margin-top: -3rem;
    margin-right: 10rem;
    background-color: #0D1B2A;

}




