* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 3, 37);

}

.div-head {
    background-color: rgb(37, 3, 37);
    width: 100%; 
    height: 60px;
}

nav {
    display: flex; 
    text-align:center;
    justify-content: space-around;
}

.div-btn {
    background-color: rgb(37, 3, 37);
    border-radius: 10px;
    border: 1px solid rgb(119, 18, 102);
    width: 200px;
    height: 30px;
    text-align: center;
    position: relative;
    top: 15px;
    transition: all 0.1s;
    padding: 5px 5px 5px 5px;

}

.div-btn:hover {
    border: 1px solid rgb(133, 119, 40);
    cursor: pointer;
    
}

.div-btn a p {
    color:rgb(204, 175, 214);
    position: relative;
    transition: all 0.1s;
}

.div-btn a p:hover {
    color:rgb(238, 226, 241);
    transition: all 0.1s;

}

/* first section*/

.divide {
    clip-path: polygon(1% 5%, 100% 1%, 100% 10%, 73% 97%, 10% 100%);
    background-color:  rgb(87, 10, 87);
    width: 100%;
    height: 2px;
    position: relative;
    top: 10px;

}

.div-pattern-one {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    background-color: rgb(37, 3, 37);
    width: 100%; 
    height: 750px;

}

.based-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 700px;
}

.title {
    position: relative; 
    text-align: center;
    border: 1px solid rgb(39, 3, 39);
    opacity: 100%;
    margin: 10px;
    transition: all 2s ease;
}

.title::content {
    position: relative; 
    border: 1px solid rgb(71, 20, 71);
    text-align: center;
    margin: 10px;
}

.title h1 {
    font-size: 50px;
    color:rgb(161, 112, 137); 
}

.description {
    position: relative; 
    text-align: center;
    border: 1px solid rgb(133, 119, 40);
    transition: all 2s ease;
    
}

.description::content {
    position: relative; 
    text-align: center;
    margin: 10px;
}

.description h1 {
    color: rgb(131, 59, 125); 
    font-size: 50px;
}
/* second section*/

.divide-two {
    background-color:  rgb(87, 10, 87);
    width: 100%;
    height: 5px;
    position: relative;
    top: 10px;
}

.div-pattern-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    background-color: rgb(37, 3, 37);
    width: 100%; 
    height: 500px;

}

.div-pattern-two-img {
    width:18rem;
    height:18rem;
    position: relative;
    left: 20rem;
    top: 1rem;
    box-shadow: 0 1px 1px 1px rgb(131, 59, 125);
    border-radius: 2px;
}

.div-pattern-two-img img {
    width:18rem;
    height:18rem;
    opacity: 70%;
    border-radius: 4px;

}

.based-two {
    display: grid;
    justify-content: column;
    align-items: center;
    width: 100%; 
    height: 500px;
    margin-top: -3rem;
    margin-right: 10rem;
}


#about {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    border-bottom: 1px solid rgb(133, 119, 40);
    width:100px;
    height: 100px;
    position: relative;
    top: -50px;
    margin-left: 40rem;
 
}

#about h1 {
    color: rgb(161, 112, 137); 
    font-size: 30px;
}

.about-description {
    width: 60rem;
    height: 100px;
    position: relative;
    top: -10rem;
    bottom: 12rem;
    margin-left: 40rem;

}

.about-description ul {
    color: rgb(218, 171, 213); 
    list-style: none;
    font-size: 23px;
    text-justify: center;
    text-size-adjust: 40px;
    white-space-collapse: 10px;
    line-height: 2.4em;
}

/* third section*/

.divide-three {
    clip-path: polygon(1% 5%, 90% 10%, 100% 10%, 73% 97%, 10% 100%);
    background-color:  rgb(87, 10, 87);
    width: 100%;
    height: 5px;
    position: relative;
    top: 10px;

}

.div-pattern-three {
    margin-top:5px;
    clip-path: polygon(1% 2%, 100% 1%, 100% 100%, 73% 97%, 0 100%);
    background-color:  rgb(37, 3, 37);
    width: 100%; 
    height: 500px;

}

.based-three {
    background-color: rgb(37, 3, 37);
   
}




